*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


.darkMode{
    color: white;
    background-color: black;
}

.darkMode .card{
    color: black;
}
.darkMode .modal{
    color: black;
}

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: red;
    padding-top: 20px;
}